.dropdown-item:active {
    background-color: #EF172F;
  }
  
  body {
    scrollbar-width: thin;          /* "auto" or "thin" */
    scrollbar-color: blue orange;   /* scroll thumb and track */
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: blue #E6E3DC;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #E6E3DC;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #B5B3AE;
    border-radius: 20px;
    border: 3px solid #E6E3DC;
  }
  
  .goup
  {
    background: red;
      bottom:0px;
      display: block;
      height: 40px;
      position: fixed;
      right:0px;
      width:40px;
    border-radius: 25px;
  }
  